datafactoryforsach/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datafactoryforsach"
		},
		"AzureSqlDatabaseLink_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabaseLink'"
		},
		"stogage_gen2_link_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'stogage_gen2_link'"
		},
		"stogage_gen2_link_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://mystorageactforsachin.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseLink')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabaseLink_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/stogage_gen2_link')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('stogage_gen2_link_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('stogage_gen2_link_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlChurnTbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Age",
						"type": "nvarchar"
					},
					{
						"name": "Attrition",
						"type": "nvarchar"
					},
					{
						"name": "BusinessTravel",
						"type": "nvarchar"
					},
					{
						"name": "DailyRate",
						"type": "nvarchar"
					},
					{
						"name": "Department",
						"type": "nvarchar"
					},
					{
						"name": "DistanceFromHome",
						"type": "nvarchar"
					},
					{
						"name": "Education",
						"type": "nvarchar"
					},
					{
						"name": "EducationField",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeCount",
						"type": "nvarchar"
					},
					{
						"name": "EmployeeNumber",
						"type": "nvarchar"
					},
					{
						"name": "EnvironmentSatisfaction",
						"type": "nvarchar"
					},
					{
						"name": "Gender",
						"type": "nvarchar"
					},
					{
						"name": "HourlyRate",
						"type": "nvarchar"
					},
					{
						"name": "JobInvolvement",
						"type": "nvarchar"
					},
					{
						"name": "JobLevel",
						"type": "nvarchar"
					},
					{
						"name": "JobRole",
						"type": "nvarchar"
					},
					{
						"name": "JobSatisfaction",
						"type": "nvarchar"
					},
					{
						"name": "MaritalStatus",
						"type": "nvarchar"
					},
					{
						"name": "MonthlyIncome",
						"type": "nvarchar"
					},
					{
						"name": "MonthlyRate",
						"type": "nvarchar"
					},
					{
						"name": "NumCompaniesWorked",
						"type": "nvarchar"
					},
					{
						"name": "Over18",
						"type": "nvarchar"
					},
					{
						"name": "OverTime",
						"type": "nvarchar"
					},
					{
						"name": "PercentSalaryHike",
						"type": "nvarchar"
					},
					{
						"name": "PerformanceRating",
						"type": "nvarchar"
					},
					{
						"name": "RelationshipSatisfaction",
						"type": "nvarchar"
					},
					{
						"name": "StandardHours",
						"type": "nvarchar"
					},
					{
						"name": "StockOptionLevel",
						"type": "nvarchar"
					},
					{
						"name": "TotalWorkingYears",
						"type": "nvarchar"
					},
					{
						"name": "TrainingTimesLastYear",
						"type": "nvarchar"
					},
					{
						"name": "WorkLifeBalance",
						"type": "nvarchar"
					},
					{
						"name": "YearsAtCompany",
						"type": "nvarchar"
					},
					{
						"name": "YearsInCurrentRole",
						"type": "nvarchar"
					},
					{
						"name": "YearsSinceLastPromotion",
						"type": "nvarchar"
					},
					{
						"name": "YearsWithCurrManager",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "customerchurn"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseLink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqldbjson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "jobTitle",
						"type": "nvarchar"
					},
					{
						"name": "jobCode",
						"type": "nvarchar"
					},
					{
						"name": "location",
						"type": "nvarchar"
					},
					{
						"name": "skillSet",
						"type": "nvarchar"
					},
					{
						"name": "companyId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "deptFullCode",
						"type": "nvarchar"
					},
					{
						"name": "vendorJobDistribution",
						"type": "nvarchar"
					},
					{
						"name": "distributedChannels",
						"type": "nvarchar"
					},
					{
						"name": "jobId",
						"type": "nvarchar"
					},
					{
						"name": "userId",
						"type": "nvarchar"
					},
					{
						"name": "vendor_userId",
						"type": "nvarchar"
					},
					{
						"name": "user_uuid",
						"type": "nvarchar"
					},
					{
						"name": "value",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "mytestdata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseLink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csvds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stogage_gen2_link",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "HR-Employee-Attrition.csv",
						"fileSystem": "structureddata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Age",
						"type": "String"
					},
					{
						"name": "Attrition",
						"type": "String"
					},
					{
						"name": "BusinessTravel",
						"type": "String"
					},
					{
						"name": "DailyRate",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "DistanceFromHome",
						"type": "String"
					},
					{
						"name": "Education",
						"type": "String"
					},
					{
						"name": "EducationField",
						"type": "String"
					},
					{
						"name": "EmployeeCount",
						"type": "String"
					},
					{
						"name": "EmployeeNumber",
						"type": "String"
					},
					{
						"name": "EnvironmentSatisfaction",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "HourlyRate",
						"type": "String"
					},
					{
						"name": "JobInvolvement",
						"type": "String"
					},
					{
						"name": "JobLevel",
						"type": "String"
					},
					{
						"name": "JobRole",
						"type": "String"
					},
					{
						"name": "JobSatisfaction",
						"type": "String"
					},
					{
						"name": "MaritalStatus",
						"type": "String"
					},
					{
						"name": "MonthlyIncome",
						"type": "String"
					},
					{
						"name": "MonthlyRate",
						"type": "String"
					},
					{
						"name": "NumCompaniesWorked",
						"type": "String"
					},
					{
						"name": "Over18",
						"type": "String"
					},
					{
						"name": "OverTime",
						"type": "String"
					},
					{
						"name": "PercentSalaryHike",
						"type": "String"
					},
					{
						"name": "PerformanceRating",
						"type": "String"
					},
					{
						"name": "RelationshipSatisfaction",
						"type": "String"
					},
					{
						"name": "StandardHours",
						"type": "String"
					},
					{
						"name": "StockOptionLevel",
						"type": "String"
					},
					{
						"name": "TotalWorkingYears",
						"type": "String"
					},
					{
						"name": "TrainingTimesLastYear",
						"type": "String"
					},
					{
						"name": "WorkLifeBalance",
						"type": "String"
					},
					{
						"name": "YearsAtCompany",
						"type": "String"
					},
					{
						"name": "YearsInCurrentRole",
						"type": "String"
					},
					{
						"name": "YearsSinceLastPromotion",
						"type": "String"
					},
					{
						"name": "YearsWithCurrManager",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stogage_gen2_link')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflowAzureSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLink",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "companyId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "location",
						"type": "nvarchar"
					},
					{
						"name": "desiredSkill",
						"type": "nvarchar"
					},
					{
						"name": "designation",
						"type": "nvarchar"
					},
					{
						"name": "vendorName",
						"type": "nvarchar"
					},
					{
						"name": "partnerName",
						"type": "nvarchar"
					},
					{
						"name": "vendor_companyId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "distributedChannels",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "SalesLT",
					"table": "mytestdatawithdf"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseLink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/jsonds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "stogage_gen2_link",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "userinfo.json",
						"fileSystem": "jsondata"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"data": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"id": {
										"type": "integer"
									},
									"jobCode": {
										"type": "integer"
									},
									"jobTitle": {
										"type": "string"
									},
									"jobUrl": {
										"type": "string"
									},
									"role": {
										"type": "null"
									},
									"location": {
										"type": "string"
									},
									"maxYrsOfExperience": {
										"type": "null"
									},
									"minYrsOfExperience": {
										"type": "null"
									},
									"skillSet": {
										"type": "string"
									},
									"skillsToEvaluate": {
										"type": "string"
									},
									"desiredSkill": {
										"type": "string"
									},
									"designation": {
										"type": "null"
									},
									"positionsReq": {
										"type": "string"
									},
									"minJobSalary": {
										"type": "null"
									},
									"maxJobSalary": {
										"type": "null"
									},
									"qualification": {
										"type": "null"
									},
									"companyId": {
										"type": "integer"
									},
									"createdDate": {
										"type": "string"
									},
									"modifiedDate": {
										"type": "string"
									},
									"deptFullCode": {
										"type": "string"
									},
									"startDate": {
										"type": "null"
									},
									"endtDate": {
										"type": "null"
									},
									"status": {
										"type": "integer"
									},
									"privateJobShare": {
										"type": "string"
									},
									"jobVisibiltyLevel": {
										"type": "string"
									},
									"employeeJobDistribution": {
										"type": "null"
									},
									"vendorJobDistribution": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"id": {
													"type": "integer"
												},
												"jobId": {
													"type": "integer"
												},
												"userId": {
													"type": "integer"
												},
												"vendorId": {
													"type": "integer"
												},
												"vendor": {
													"type": "object",
													"properties": {
														"id": {
															"type": "integer"
														},
														"partnerName": {
															"type": "string"
														},
														"userId": {
															"type": "integer"
														},
														"companyId": {
															"type": "integer"
														},
														"isActive": {
															"type": "integer"
														},
														"added_date": {
															"type": "string"
														},
														"lastLoggedIn": {
															"type": "string"
														},
														"reason": {
															"type": "string"
														},
														"vendorStatus": {
															"type": "integer"
														},
														"sourceValidityConfigurationId": {
															"type": "string"
														},
														"creditConfig": {
															"type": "string"
														},
														"startDate": {
															"type": "string"
														},
														"endDate": {
															"type": "string"
														},
														"user": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "integer"
																},
																"uuid": {
																	"type": "string"
																},
																"username": {
																	"type": "string"
																},
																"emailId": {
																	"type": "string"
																},
																"employeeId": {
																	"type": "string"
																},
																"phoneNo": {
																	"type": "string"
																},
																"linkedInProfile": {
																	"type": "string"
																},
																"modifiedByUserId": {
																	"type": "integer"
																},
																"status": {
																	"type": "integer"
																},
																"issuperuser": {
																	"type": "integer"
																},
																"companyId": {
																	"type": "integer"
																},
																"isInterviewCredentialSent": {
																	"type": "string"
																},
																"subscribeToEmail": {
																	"type": "string"
																},
																"logoutTime": {
																	"type": "string"
																},
																"roleId": {
																	"type": "integer"
																},
																"userDuplicateId": {
																	"type": "integer"
																},
																"departmentalRoles": {
																	"type": "string"
																},
																"competency": {
																	"type": "string"
																},
																"passwordReuseCount": {
																	"type": "integer"
																},
																"isCandidateCredentialSent": {
																	"type": "boolean"
																}
															}
														},
														"email": {
															"type": "string"
														},
														"isApproved": {
															"type": "integer"
														}
													}
												},
												"profileValidity": {
													"type": "string"
												},
												"validityInDays": {
													"type": "integer"
												},
												"notified": {
													"type": "boolean"
												},
												"vendorAssignDate": {
													"type": "string"
												},
												"groupId": {
													"type": "string"
												},
												"vendorName": {
													"type": "string"
												}
											}
										}
									},
									"distributedChannels": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"enabledForCareerSite": {
										"type": "boolean"
									}
								}
							}
						},
						"totalCount": {
							"type": "integer"
						},
						"currentPage": {
							"type": "integer"
						},
						"pageSize": {
							"type": "integer"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/stogage_gen2_link')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copytosqldb')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data To SQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "csvds",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlChurnTbl",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/csvds')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlChurnTbl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/json-processing_new')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "jsonData",
										"value": {
											"value": "@string(item())",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "DECLARE @json NVARCHAR(MAX);  \nSET @json = N'@{variables('jsondata')}';  \n  \nSELECT *\nFROM OPENJSON(@json, N'$.data') \nWITH ( \njobTitle NVARCHAR(MAX) N'$.jobTitle',\njobCode NVARCHAR(MAX) N'$.jobCode' ,\nlocation NVARCHAR(MAX) N'$.location',\nskillSet NVARCHAR(MAX) N'$.skillSet',\ncompanyId INT  N'$.companyId',\ndeptFullCode NVARCHAR(MAX) N'$.deptFullCode',\nvendorJobDistribution  NVARCHAR(MAX) N'$.vendorJobDistribution' as JSON,\ndistributedChannels NVARCHAR(MAX) N'$.distributedChannels' as JSON\n) \nOUTER APPLY OPENJSON(vendorJobDistribution) WITH \n(\njobId NVARCHAR(MAX) N'$.jobId',\nuserId NVARCHAR(MAX) N'$.userId',\nvendor_userId NVARCHAR(MAX) N'$.vendor.userId',\nuser_uuid NVARCHAR(MAX) N'$.vendor.user.uuid'\n)\nOUTER APPLY OPENJSON(distributedChannels) WITH \n(\nvalue nvarchar(max) '$'\n)\n;\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AzureSqldbjson",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqldbjson",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "jsonds",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"jsonData": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-05-02T12:50:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/jsonds')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqldbjson')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/jsonProcessingDF')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "jsonds",
								"type": "DatasetReference"
							},
							"name": "datasource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dataflowAzureSqlTable",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "flattendata"
						},
						{
							"name": "flattenvendor"
						},
						{
							"name": "flattenupdatewhitelist"
						}
					],
					"scriptLines": [
						"source(output(",
						"          data as (id as integer, jobCode as integer, jobTitle as string, jobUrl as string, role as string, location as string, maxYrsOfExperience as string, minYrsOfExperience as string, skillSet as string, skillsToEvaluate as string, desiredSkill as string, designation as string, positionsReq as string, minJobSalary as string, maxJobSalary as string, qualification as string, companyId as integer, createdDate as string, modifiedDate as string, deptFullCode as string, startDate as string, endtDate as string, status as integer, privateJobShare as string, jobVisibiltyLevel as string, employeeJobDistribution as string, vendorJobDistribution as (id as integer, jobId as integer, userId as integer, vendorId as integer, vendor as (id as integer, partnerName as string, userId as integer, companyId as integer, isActive as integer, added_date as string, lastLoggedIn as string, reason as string, vendorStatus as integer, sourceValidityConfigurationId as string, creditConfig as string, startDate as string, endDate as string, user as (id as integer, uuid as string, username as string, emailId as string, employeeId as string, phoneNo as string, linkedInProfile as string, modifiedByUserId as integer, status as integer, issuperuser as integer, companyId as integer, isInterviewCredentialSent as string, subscribeToEmail as string, logoutTime as string, roleId as integer, userDuplicateId as integer, departmentalRoles as string, competency as string, passwordReuseCount as integer, isCandidateCredentialSent as boolean), email as string, isApproved as integer), profileValidity as string, validityInDays as integer, notified as boolean, vendorAssignDate as string, groupId as string, vendorName as string)[], distributedChannels as string[], enabledForCareerSite as boolean)[],",
						"          totalCount as integer,",
						"          currentPage as integer,",
						"          pageSize as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'arrayOfDocuments') ~> datasource",
						"datasource foldDown(unroll(data),",
						"     mapColumn(",
						"          parent_companyId = data.companyId,",
						"          designation = data.designation,",
						"          desiredSkill = data.desiredSkill,",
						"          employeeJobDistribution = data.employeeJobDistribution,",
						"          jobTitle = data.jobTitle,",
						"          jobUrl = data.jobUrl,",
						"          location = data.location,",
						"          jobId = data.endtDate,",
						"          vendorJobDistribution = data.vendorJobDistribution,",
						"          distributedChannels = data.distributedChannels",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flattendata",
						"flattendata foldDown(unroll(vendorJobDistribution),",
						"     mapColumn(",
						"          jobId = vendorJobDistribution.jobId,",
						"          vendor_companyId = vendorJobDistribution.vendor.companyId,",
						"          partnerName = vendorJobDistribution.vendor.partnerName,",
						"          vendorName = vendorJobDistribution.vendorName,",
						"          designation,",
						"          desiredSkill,",
						"          location,",
						"          distributedChannels,",
						"          companyId = parent_companyId",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flattenvendor",
						"flattenvendor foldDown(unroll(distributedChannels),",
						"     mapColumn(",
						"          companyId,",
						"          location,",
						"          desiredSkill,",
						"          designation,",
						"          vendorName,",
						"          partnerName,",
						"          vendor_companyId,",
						"          distributedChannels",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flattenupdatewhitelist",
						"flattenupdatewhitelist sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          companyId as integer,",
						"          location as string,",
						"          desiredSkill as string,",
						"          designation as string,",
						"          vendorName as string,",
						"          partnerName as string,",
						"          vendor_companyId as integer,",
						"          distributedChannels as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     preCommands: [],",
						"     postCommands: []) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/jsonds')]",
				"[concat(variables('factoryId'), '/datasets/dataflowAzureSqlTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/json-processingdf')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Json Data flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "jsonProcessingDF",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"datasource": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/jsonProcessingDF')]"
			]
		}
	]
}